#ss{
    width: 1580px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
#ww{
    width: 1580px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
h1{
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}
h2{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
